@model BootCamp.Models.Produto
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<h2>Confirmar Exclusão</h2>

<p>Tem certeza de que deseja excluir o seguinte produto?</p>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>

<form asp-action="ConfirmarExclusao">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <input type="submit" value="ConfirmarExclusao" class="btn btn-danger" />
        <a asp-action="Index">Cancelar</a>
    </div>
</form>
